/Ohana/nbproject/private/
/Ohana/build/
/Ohana/dist/
/Ohana2/nbproject/private/
/Ohana2/build/
/Ohana2/dist/
/WebApplication1/nbproject/private/
/WebApplication1/dist/
/WebApplication1/build/
/EnterpriseApplication1/nbproject/private/
/EnterpriseApplication1/EnterpriseApplication1-war/nbproject/private/
/EnterpriseApplication1/EnterpriseApplication1-ejb/nbproject/private/
/WebApp/nbproject/private/
/WebApp/build/
/WebApp/dist/
/WebApp2/nbproject/private/
/EApp/nbproject/private/
/EApp/EApp-war/nbproject/private/
/EApp/EApp-ejb/nbproject/private/
/Ohana_1/nbproject/private/
/Ohana_sql/nbproject/private/