body{
    background-color: lightblue;
}

nav{
    background-color: lightblue;
    margin: 10px 10px 0px 10px;
}

nav ul{
    margin: 0px;
    list-style-type: none;
    padding: 5px 0px 5px 0px;
    text-align: center;
}

nav ul li{
    display: inline;
    padding: 5px 10px 5px 10px;
    font-size: 25px;
    margin: 20px 20px;
}

nav ul li a:link {
    color: darkorange;
    border-bottom: none;
    font-weight: bold;
}

nav ul li a:visited{
    color: purple;
    border-bottom: none;
    font-weight: bold;
}

nav ul li a:hover{
    color: darkorange;
    border-bottom: none;
    font-weight: bolder;
}

nav ul li.selected{
    background-color: blue;
}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

p.center{
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

h1.center{
    text-align: center;
    color: black;
}

h3.center{
    text-align: center;
    color: black;
}

p.about{
    text-align: justify;
    color: black;
    margin: 1em 17em 2em;
    font-family: "book antiqua";
    font-size: 20px;
    line-height: 2em;
}

div form{
    text-align: center;
    line-height: 200%;
}

fieldset {
    padding: 1em;
    font:100%/1 sans-serif;
    line-height: 1em;
}
label {
    float:inside;
    width:25%;
    margin-right:2em;
    padding-top:0.2em;
    text-align:right;
    font-weight:bold;
    line-height: 2em;
}

label.comment{
    float:inside;
    width:25%;
    margin-right:0em;
    padding-top:0.2em;
    text-align:left;
    font-weight:bold;
    line-height: 2em;
}

legend{
    font-weight: bold;
}

div.legend{
    margin-left: 250px;
    margin-right: 250px;
}

div.login{
    margin-left: 250px;
    margin-right: 250px;
    margin-top: 5em;
}

#ft {
    background: #222222;
    clear: both;
    padding: 1em;
    margin-top: 5em;
    text-align: center;
    color: white;
    font-family: "Lucinda Grande",Arial;
    font-size: 12pt;
}

span.ohananame{
    color: #ff6500;
    font-weight: bolder;
}

.proddisp {
    margin-bottom: 18px;
    margin-top: 3em;
    margin-left: 10em;
    margin-right: 10em;
    border: 1px solid darkorange;
    padding: 12px;
    background: #dddddd;
    border-radius: .5em;
    box-shadow: 10px 10px 5px orange;
    font-weight: bold;
    font-size: large;
}

.prodfeatures {
    margin-top: 10px;
    margin-left: 340px;
}

.imgdisp{
    margin-right: 70px;
    width:270px;
    height: 230px;
    float: left;
}

.proddesc{
    font-weight: bold;
    font-size: large;
}

li nobull{
    list-style-type: none;
    display: inline;
}

.prodcont{
    margin-top: 0px;
    margin-left: 20em;
    margin-right: 5em;
}
.inline {
    display: inline;
}

table {
    width: 200em;
    height: 100%;
    border: none;
}

.regforgot {
    margin-top: 2em;
}

.submit {
    margin-top: 1px;
}

.button {
    height: 40px;
    width: 125px;
}

fieldset label {
    display: inline-block;
}

.larger {
    font-size: x-large;
}

.prodcontent {
    margin-top: 10px;
    margin-left: 325px;
}